<div class="row">
  <div class="span2">
    <h6>Crate</h6>
    <ul class="unstyled navlinks">
        <li><a href="https://github.com/crateio/">GitHub</a></li>
        <li><a href="/security/">Security</a></li>
    </ul>
  </div>

  <div class="offset6 span2">
    <h6>{{ gettext("Hosted by") }}</h6>
    <div class="sponsor-logo">
      <a href="https://www.heroku.com/" title="{{ gettext("Hosted by Heroku") }}">
        <img alt="{{ gettext("Hosted by Heroku") }}" src="{{ static("img/sponsors/heroku.png") }}" />
      </a>
    </div>
  </div>

  <div class="span2">
    {# <h6>{{ gettext("Resolved by") }}</h6> #}
    <div class="sponsor-logo">
      {# <a href="http://dyn.com/" title="{{ gettext("Resolved by Dyn") }}">
        <img alt="{{ gettext("Resolved by Dyn") }}" src="{{ static("img/sponsors/dyn.png") }}" />
      </a> #}
    </div>
  </div>
</div>
