{% extends "site_base.html" %}

{% block head_title %}Security{% endblock %}

{% block body %}
    <h2>Security</h2>
    <p>All security issues should be reported to <a href="mailto:security@crate.io">security@crate.io</a>.</p>
    <p>They may be encrypted using the <a href="/security.asc">security key</a> (<a href="https://raw.github.com/crateio/crate.web/master/crate/web/theme/templates/security.asc">mirror</a>):
        <pre style="max-width: 40em;">
            {% include "security.asc" %}
        </pre>
    </p>
{% endblock %}
