{% extends "site_base.html" %}

{% block head_title %}Externally Hosted Packages{% endblock %}

{% block body %}
    <h2 style="margin-bottom: 2em;">Externally Hosted Packages</h2>
    <p>
        These packages do not have any files hosted on PyPI, if you're
        installing any of them you are opening yourself up to a number of
        potential security, reliability, performance, and privacy issues.
    </p>
    <div class="row">
    {% for project in projects %}
      <div class="span3" style="margin-bottom: 1em;">
        <div style="padding-top: 1em; padding-bottom: 1em; border: 1px #eee solid;">
          <div style="font-size: 1.2em; font-weight: bold; text-align: center;">
            <a href="{{ project.get_absolute_url() }}">{{ project.name }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
